@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
  --color-card-green-500: hsl(158, 36%, 37%);
  --color-card-green-700: hsl(158, 42%, 18%);
  --color-card-black: hsl(212, 21%, 14%);
  --color-card-grey: hsl(228, 12%, 48%);
  --color-card-cream: hsl(30, 38%, 92%);
  --color-card-white: hsl(0, 0%, 100%);
  --font-card-montserrat: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
  --font-card-fraunces: 'Fraunces', ui-sans-serif, system-ui, sans-serif;
  --spacing-card-50: 4px;
  --spacing-card-100: 8px;
  --spacing-card-200: 16px;
  --spacing-card-300: 24px;
  --spacing-card-400: 32px;
  --spacing-card-500: 40px;
}

@layer base {
  body {
    background-color: var(--color-card-cream);
  }
}
